.app-header {
	display: flex !important;
	align-items: center !important;
	justify-content: flex-end !important ;
	width: calc(100% - 200px) !important;
	padding: 0 !important;
	position: fixed !important;
	padding: 8px !important;
}